version: 2.1

orbs:
  tools: replikativ/clj-tools@0

jobs:
  setup:
    executor: tools/clojurecli
    steps:
      - restore_cache:
          keys:
            - source-{{ .Branch }}-{{ .Revision }}
            - source-{{ .Branch }}
            - source-
      - checkout
      - save_cache:
          key: source-{{ .Branch }}-{{ .Revision }}
          paths:
            - .git
      - restore_cache:
          keys:
            - deps-{{ checksum "deps.edn" }}
            - deps-
      - run:
          name: Resolve dependencies
          command: clojure -A:dev:test:build -P
      - save_cache:
          key: deps-{{ checksum "deps.edn" }}
          paths:
            - /home/circleci/.m2
      - restore_cache:
          keys:
            - npm-{{ checksum "package-lock.json" }}
            - npm-
      - run:
          name: Install npm dependencies
          command: npm ci
      - save_cache:
          key: npm-{{ checksum "package-lock.json" }}
          paths:
            - /home/circleci/.npm
      - persist_to_workspace:
          root: /home/circleci/
          paths:
            - .m2
            - .npm
            - replikativ

  format-check:
    executor: tools/clojurecli
    steps:
      - attach_workspace:
          at: /home/circleci
      - run:
          name: Check code formatting
          command: clojure -M:format

  test-clj:
    executor: tools/clojurecli
    steps:
      - attach_workspace:
          at: /home/circleci
      - run:
          name: Run Clojure tests
          command: clojure -X:test
          no_output_timeout: 5m

  test-cljs:
    executor: tools/clojurecli
    steps:
      - attach_workspace:
          at: /home/circleci
      - run:
          name: Compile ClojureScript tests
          command: npx shadow-cljs compile :node-test
          no_output_timeout: 5m
      - run:
          name: Run ClojureScript tests
          command: node target/node-tests.js
          no_output_timeout: 5m

  build:
    executor: tools/clojurecli
    steps:
      - attach_workspace:
          at: /home/circleci
      - run:
          name: Build JAR
          command: clojure -T:build jar
      - persist_to_workspace:
          root: /home/circleci/
          paths:
            - replikativ

  deploy:
    executor: tools/clojurecli
    steps:
      - attach_workspace:
          at: /home/circleci
      - run:
          name: Deploy to Clojars
          command: clojure -T:build deploy

workflows:
  build-test-deploy:
    jobs:
      - setup:
          context: dockerhub-deploy
      - format-check:
          context: dockerhub-deploy
          requires:
            - setup
      - test-clj:
          context: dockerhub-deploy
          requires:
            - setup
      - test-cljs:
          context: dockerhub-deploy
          requires:
            - setup
      - build:
          context: dockerhub-deploy
          requires:
            - setup
      - deploy:
          context:
            - dockerhub-deploy
            - clojars-deploy
          filters:
            branches:
              only: main
          requires:
            - format-check
            - test-clj
            - test-cljs
            - build
